@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: hsl(223, 62%, 34%);
  --dark-blue: hsl(231, 30%, 8%);
  --bg: var(--dark-blue);
  /* font-sizes */
  --fs-900: 1.802rem;
  --fs-800: 1.602rem;
  --fs-700: 1.424rem;
  --fs-600: 1.266rem;
  --fs-500: 1.125rem;
  --fs-400: 1.5rem;
  --fs-300: 1rem;
  --fs-200: 0.833rem;
  --fs-100: 0.75rem;

  /* font family  */
  --sans-serif: 'Roboto', sans-serif;
  --heading: 'Oswald', sans-serif;

  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 15px;
  --spacing-4: 20px;
  --spacing-5: 25px;
  --spacing-6: 30px;
  --spacing-6: 35px;

  --text-white: #fff;

  --border-sm: 5px;
}
html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.3;
  color: var(--text-white);
  background-color: var(--bg);
  box-sizing: border-box;
}
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p,
a {
  word-break: break-all;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading), sans-serif;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}
.container {
  inline-size: min(calc(100% - var(--spacing-6)), 60rem);
  margin-inline: auto;
}
header li {
  border-bottom: 1px solid transparent;
  padding-block-end: var(--spacing-1);
  transition: border 0.3s ease-out, color 0.3s ease-out;
}
header li:hover {
  border-bottom: 1px solid rgb(59 130 246);
  color: #fff;
}
header li a {
  width: 100%;
  color: rgb(212, 212, 212);
}
a.active {
  color: white;
  font-weight: bold;
}

.preview-container {
  cursor: pointer;
  transition: background-color 0.3s ease-out, border 0.3s ease-out 0.3s;
  border-radius: var(--spacing-2);
  border: 2px solid transparent;
}
.preview-container:hover {
  background-color: rgb(33 36 50);
}

pre code.hljs {
  border-radius: var(--border-sm);
  margin-block-end: 1rem;
  background-color: rgb(59, 60, 74);
}

#__next {
  height: 100%;
  display: grid;
  grid: auto 1fr auto/auto;
}

footer {
  margin-top: auto;
}
